{% extends './layout.html' %}

{% block content %}
    <div class="col-md-9">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">书目入库 
                    <i class="fa fa-book pull-right" aria-hidden="true"></i>
                </h3>
            </div>

            <div class="panel-body">
                <p>输入ISBN以查询书目入库情况</p>
                <form action={% url 'book_put_in'%} method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="ISBN" placeholder="ISBN">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                搜索
                            </button>
                        </span>
                    </div>

                    {# [NOTE] Show search result here. #}
                </form>
            </div>

        </div>
    </div>
{% endblock %}
