{% extends './layout.html' %}

{% block content %}
<div class="col-md-9">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">编辑书目
                <i class="fa fa-book pull-right" aria-hidden="true"></i>
            </h3>
        </div>

        <div class="panel-body">
            <form action="/book_edit/?id={{ book.id }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="edit_id" value="{{book.id}}" class="hide">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <span class="input-group-text">书名</span>
                    <input type="text" class="form-control" name="name" value="{{ book.name }}">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-text">作者</span>
                    <input type="text" class="form-control" name="author" value="{{ book.author }}">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-text">出版商</span>
                    <input type="text" class="form-control" name="publisher" value="{{ book.publisher }}">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-text">ISBN</span>
                    <input type="text" class="form-control" name="ISBN" value="{{ book.isbn }}">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-text">出版年月</span>
                    <input type="text" class="form-control" name="date" value="{{ book.date }}">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-text">数量</span>
                    <input type="text" class="form-control" name="number" value="{{ book.number }}">
                </div>
                <br>

                {% comment %} <div class="input-group mb-3">
                    <span class="input-group-text">经办人</span>
                    <input type="text" class="form-control" placeholder="经办人" name="operator"
                        value="{{ book.operator }}">
                </div>
                <br> {% endcomment %}

                <button type="submit" class="btn btn-primary">保存</button>
                <button type="submit" formmethod="get" formaction="/book_list" class="btn btn-default">返回</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}