{% extends './layout.html' %}

{% block content %}
<div class="col-md-9">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">添加图书
                <i class="fa fa-book pull-right" aria-hidden="true"></i>
            </h3>
        </div>

        <div class="panel-body">
            <form action={% url 'book_info_add' %} method="post">
                {% csrf_token %}

                <label for="browser" class="form-label">图书编号</label>
                <br>
                <div class="input-group">
                    <input type="text" class="form-control" name="book_id">
                </div>
                <br>

                <label for="browser" class="form-label">选择图书放入的位置</label>
                <br>

                <input class="form-control" list="browsers" name="position">
                <datalist id="browsers">
                    <option value="图书流通室">
                    <option value="图书阅览室">
                </datalist>
                <br>

                <button type="submit" class="btn btn-primary mt-3">确认</button>
                <button type="submit" formmethod="get" formaction={% url 'book_put_in' %}
                    class="btn btn-default mt-3">返回
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
