{% extends './layout.html' %}

{% block content %}
<div class="col-md-9">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">
                添加书目
                <i class="fa fa-book pull-right" aria-hidden="true"></i>
            </h3>
        </div>

        <div class="panel-body">
            <form action={% url 'book_add' %} method="post">
                {% csrf_token %}

                <div class="input-group mb-3">
                    <span class="input-group-addon">书名</span>
                    <input type="text" class="form-control" name="name">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-addon">作者</span>
                    <input type="text" class="form-control" name="author">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-addon">出版社</span>
                    <input type="text" class="form-control" name="publisher">
                </div>
                <br>

                <div class="input-group mb-3">
                    <span class="input-group-addon">出版年月</span>
                    <input type="text" class="form-control" name="date">
                </div>
                <br>

                <button type="submit" class="btn btn-primary">添加</button>
                <button type="submit" formmethod="get" formaction={% url 'book_put_in' %}
                    class="btn btn-default mt-3">返回</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}