{% extends "base.html" %}

{% block title %}
    登录图书管理系统
{% endblock %}

{% block content %}
<div class="entry">
    <div class="left-section">
        <div class="left-text">承瀚海之辽阔</div>
    </div>

    <div class="right-section">
        <div class="box h-centered-section entry-box-width">
            <div class="box-title">欢迎使用图书管理系统</div>
            <div class="box-button-group">
                <button class="box-button entry-button-size" onclick="window.location.href='{% url 'login' 'reader' %}'">读者入口</button>
                <button class="box-button entry-button-size" onclick="window.location.href='{% url 'login' 'librarian' %}'">图书管理员入口</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
