{% extends "base.html" %}

{% block title %}
    登录图书管理系统
{% endblock %}

{% block content %}
<div class="box centered-box login-box-width">
    <a class="return-arrow" href="{% url 'entry' %}">&lt;</a>
    <div class="h-centered-section">
        <div class="box-title">
            {% if user_type == 'reader' %}
                亲爱的读者，请先登录
            {% elif user_type == 'librarian' %}
                管理员您好，请先登录
            {% endif %}
        </div>

        {% if error %}
            <div class="error-text">{{ error }}</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="box-input-group">
                <input name="username" placeholder="用户名" required>
                <input type="password" name="password" placeholder="密码" required>
            </div>
            <button class="login-register-button-size" type="submit">登录</button>
        </form>

        <a class="box-link" href="{% url 'register' user_type %}">
            没有账号？点击注册
        </a>
    </div>
</div>
{% endblock %}
