:root {
    --nav-width: 260px;
}

body {
    height: 100vh;
    font-family: verdana;
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(180deg, rgb(219, 227, 236), rgb(179, 200, 216), rgb(118, 155, 185));
    background-attachment: scroll;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.message-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 22px;
    font-size: 22px;
    background-color: rgba(224, 231, 233, 0.795);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.error {
    color: #e9e9e9;
    background-color: rgba(211, 56, 56, 0.795);
    text-wrap: nowrap;
}

.success {
    color: #e9e9e9;
    background-color: rgba(52, 179, 52, 0.795);
    text-wrap: nowrap;
}

/****************************************************/
/*                     SIDE NAV                     */
/****************************************************/

.side-nav {
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    background-color: #3e516d;
    z-index: 1;
    overflow-x: hidden;
}

.side-nav .header {
    background-color: #202a35;
    padding: 25px;
    transition: 0.3s;
}

.side-nav .header .title {
    color: #f1f1f1;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.side-nav .header .subtitle {
    text-align: center;
    color: #b1b1b1;
    font-size: 20px;
    font-weight: normal;
    padding-top: 16px;
}

.side-nav .separator {
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
}

.side-nav .option a {
    height: 26px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 22px;
    font-weight: lighter;
    padding: 35px;
    display: block;
    transition: 0.3s;
}

.side-nav .option a:hover {
    color: #f1f1f1;
    font-size: 25px;
    background-color: #35404d;
}

.side-nav .option a.current {
    color: #f1f1f1;
    background-color: #35404d;
}


/****************************************************/
/*                   LOGIN                          */
/****************************************************/

.entry {
    width: 100%;
    height: 100%;
    display: flex;
    text-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.entry .left-section {
    margin-right: 180px;
}

.entry .right-section {
    margin-left: 180px;
}

.entry .left-text {
    font-size: 70px;
    font-weight: bold;
    color: #3c66a1;
}

.float-up {
    opacity: 0;
    animation: floatUp 1s ease-in-out forwards;
}

@keyframes floatUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-default {
    width: 150px;
    font-size: 20px;
    color: #f1f1f1;
    background-color: #323d4e;
    border: none;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button-default:hover {
    background-color: #3e516d;
}


/****************************************************/
/*                   MAIN SECTION                   */
/****************************************************/

.main-section {
    width: 100%;
    margin-left: var(--nav-width);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.main-section table {
    width: 100%;
    border-collapse: collapse;
    transition: 0.3s;
}

.main-section th {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    color: #f1f1f1;
    background-color: #516175;
}

.main-section td {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 12px;
}

.main-section tr {
    background-color: #eeeeee;
}

.main-section tr:nth-child(even) {
    background-color: #e0e7e9;
}

.main-section tr:hover {
    background-color: #afd7e9;
}

.main-section table a {
    color: #3161aa;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.main-section table a:hover {
    color: #3e516d;
}

/* .main-section table button {
    color: #f1f1f1;
    background-color: #3f7899;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-section table button:hover {
    background-color: #3e516d;
} */

.main-section p {
    font-size: 20px;
    font-weight: normal;
}


/****************************************************/
/*                     BOX                          */
/****************************************************/

.box {
    background-color: #ebebeb4b;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entry-box-width {
    width: 480px;
}

.login-box-width {
    width: 480px;
}

.register-box-width {
    width: 450px;
}

.box-title {
    text-wrap: nowrap;
    font-size: 42px;
    padding: 25px;
    font-weight: bold;
    color: #374d5f;
}

.box-button-group {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box button {
    color: #ececec;
    background-color: rgb(70, 129, 177);
    border: none;
    border-radius: 5px;
    font-size: 25px;
    margin: 10px;
    display: flex;
    font-weight: normal;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.box button:hover {
    background-color: rgba(66, 170, 255, 0.8);
}

.entry-button-size {
    width: 240px;
    height: 80px;
}

.login-register-button-size {
    width: 180px;
    height: 60px;
}

.box-input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
}

.box-input-group input {
    width: 350px;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    color: #222222;
    background-color: #f0f0f0;
}

.box-link {
    color: #0e3849;
    border: none;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 18px;
    padding: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.box-link:hover {
    color: #e4e4e4;
}


.h-centered-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/****************************************************/
/*                     BOOK INFO                    */
/****************************************************/


.book-info-container {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
}

.book-info-title {
    font-size: 50px;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #131313;
}

.book-info-text {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #2e2e2e;
}

.book-info-container label {
    font-size: 20px;
    font-weight: bold;
    color: #2e2e2e;
    display: flex;
}

.book-info-container input {
    width: 50%;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    color: #222222;
    background-color: #f0f0f0;
    display: flex;
}

.search-bar {
    width: 100%;
    height: 45px;
    display: flex;
    margin: 30px 0;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
}

.search-bar input {
    width: 100%;
    background-color: #f1f1f1;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.search-bar button {
    width: 100px;
    color: #f1f1f1;
    background-color: #28394d;
    font-size: 20px;
    text-align: center;
    text-wrap: nowrap;
    border: none;
    border-radius: 5px;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button:hover {
    background-color: #3e516d;
    cursor: pointer;
}

.error-text {
    font-size: 22px;
    font-weight: normal;
    color: #da1010;
    padding: 5px;
}

.return-arrow {
    color: #446179;
    border: none;
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 48px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.return-arrow:hover {
    transform: translateX(-8px);
}

.centered-modal {
    width: 320px;
    background-color: rgba(42, 97, 110, 0.795);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
}

.centered-modal p {
    color: rgb(228, 228, 228);
    font-size: 25px;
    font-weight: bold;
    text-wrap: nowrap;
}

.centered-modal button {
    padding: 10px 20px;
    color: rgb(219, 219, 219);
    background-color: rgb(99, 156, 172);
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    text-wrap: nowrap;
    cursor: pointer;
    transition: 0.3s;
}

.centered-modal button:hover {
    color: rgb(219, 219, 219);
    background-color: rgba(116, 190, 211, 0.8);
}

.centered-modal label {
    font-size: 20px;
    font-weight: bold;
    color: #e2e2e2;
    display: flex;
}

.centered-modal input {
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    color: #222222;
    background-color: #f0f0f0;
    display: flex;
}

.centered-modal select {
    width: 200px;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    color: #222222;
    background-color: #f0f0f0;
    display: flex;
}

.centered-modal select option {
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
    color: #222222;
    background-color: #f0f0f0;
    display: flex;
}

.save-button {
    width: 100px;
    padding: 10px 20px;
    color: rgb(219, 219, 219);
    background-color: rgb(28, 71, 97);
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    text-wrap: nowrap;
    cursor: pointer;
    transition: 0.3s;
}

.add-book-modal-width {
    width: 400px;
}