{% extends './layout.html' %}

{% block content %}
<div class="col-md-9">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">借阅图书
                <i class="fa fa-book pull-right" aria-hidden="true"></i>
            </h3>
        </div>

        <div class="panel-body">
            <p>使用ISBN查询,限图书流通室内可借书籍</p>
            <form action="" method="post">
                {% csrf_token %}

                <div class="input-group">
                    <input type="text" class="form-control" id="ISBN" name="ISBN">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"
                            formaction={% url 'reader_page' %}>返回</button>
                    </span>
                </div>

                <!-- <input type="text" class="form-control" placeholder="输入ISBN以搜索" id="ISBN" name="ISBN">
                <button class="btn btn-success" type="submit">GO!</button>
                
                <button type="submit" formmethod="get" formaction="/reader_page/"
                    class="btn btn-default mt-3">返回</button> -->
            </form>

            <br>
            {% if books %}
            <table class="table">
                <tr>
                    <th>图书编号</th>
                    <th>ISBN</th>
                    <th>位置</th>
                    <th>借阅状态</th>
                    <th>经办人</th>
                </tr>
                {% for b in books %}
                <tr>
                    <td>{{ b.book_id }}</td>
                    <td>{{ b.isbn_id }}</td>
                    <td>{{ b.position }}</td>
                    <td>{{ b.state }}</td>
                    <td>{{ b.operator_id }}</td>

                    {% if b.state == "未借出" %}
                    <td>
                        <a href="/borrow_book/?id={{ b.book_id }}" class="btn btn-primary active"
                            role="button">借阅</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if borrow_record %}
            <br>
            <div class="alert alert-success">
                <strong>借阅成功!</strong>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
