{% extends './layout.html' %}

{% block content %}
<div class="col-md-9">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">取走预约到的书籍
                <i class="fa fa-book pull-right" aria-hidden="true"></i>
            </h3>
        </div>

        <div class="panel-body">
            {% if reserve_record %}
            <!-- 显示预约到的书籍 -->
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>book_id</th>
                            <th>ISBN</th>
                            <th>book_arrive_time</th>
                            <!-- <th>time remaining</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in reserve_record %}
                        <tr>
                            <td>{{ record.book_id}}</td>
                            <td>{{ record.isbn }}</td>
                            <td>{{ record.book_arrive_time }}</td>
                        </tr>
                        {% endfor %}
                        <td>
                            <a href="/get_reserve_book/">取走</a>
                        </td>
                    </tbody>
                </table>

            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}