{% extends './layout.html' %}

{% block content %}
<div class="col-md-9">
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">预约图书
                <i class="fa fa-book pull-right" aria-hidden="true"></i>
            </h3>
        </div>

        <div class="panel-body">
            <form action="/book_info_add/" method="post">
                {% csrf_token %}

                <div class="input-group mb-3">
                    {# IS IT RIGHT??? #}
                    <span class="input-group-text">有效预约时长</span>
                    <input type="text" class="form-control" name="position">
                </div>
                <br>

                <button type="submit" class="btn btn-primary">预约</button>
                <button type="submit" formmethod="get" formaction="/reader_page/" class="btn btn-default">返回</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}