{% extends "librarian/with_nav.html" %}

{% block main_content %}
    <div class="main-section">
        <form method="get" action="{% url 'librarian_book_list' %}" class="search-bar">
            <input type="text" name="search" placeholder="书名/作者/ISBN" value="{{ search }}">
            <button type="submit">搜索</button>
        </form>

        <button id="open-add-book-modal-btn" class="button-default">+ 书目入库</button>

        {% if not books %}
            {% if search %}
                <p class="bold-text">没有找到相关书目</p>
            {% else %}
                <p class="bold-text">暂无书目</p>
            {% endif %}
        {% else %}
            <p class="bold-text">共 {{ books|length }} 条记录</p>
            <table class="table-style">
                <thead>
                    <tr>
                        <th>书名</th>
                        <th>作者</th>
                        <th>出版社</th>
                        <th>ISBN</th>
                        <th>出版年月</th>
                        <th>数量</th>
                        <th>经办人</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>{{ book.date }}</td>
                            <td>{{ book.number }}</td>
                            <td>{{ book.operator }}</td>
                            <td>
                                <a href="{% url 'librarian_book_info' book.id %}">详情</a>
                                <a class="open-delete-book-modal-btn" book-id="{{ book.id }}">删除</a>

                                <div id="delete-book-modal{{ book.id }}" class="centered-modal" style="display: none;">
                                    <p>确定要删除吗？</p>
                                    <form id="delete-book-form{{ book.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete-book-id" value="{{ book.id }}">
                                        <button id="confirm-delete-book-btn{{ book.id }}">删除</button>
                                        <button id="cancel-delete-book-btn{{ book.id }}">取消</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>


    <div id="add-book-modal" class="centered-modal add-book-modal-width" style="display: none;">
        <p>书目入库</p>
        <form id="add-book-form">
            {% csrf_token %}
            <label>书名：</label>
            <input type="text" name="title" value="{{ book.title }}" required>
            
            <label>作者：</label>
            <input type="text" name="author" value="{{ book.author }}" required>

            <label>出版社：</label>
            <input type="text" name="publisher" value="{{ book.publisher }}" required>

            <label>ISBN：</label>
            <input type="text" name="isbn" value="{{ book.isbn }}" required>

            <label>出版年月：</label>
            <input type="text" name="date" value="{{ book.date }}" required>

            <button id="confirm-add-book-btn">确定</button>
            <button id="cancel-add-book-btn">取消</button>
        </form>
    </div>
{% endblock %}