{% extends "librarian/with_nav.html" %}

{% block main_content %}
    <div class="main-section">

        <a class="symbol" href="{% url 'librarian_book_list' %}">&lt;</a>

        <form method="post">
            {% csrf_token %}
            <label>书名：</label><input type="text" name="title" value="{{ book.title }}"/>
            <label>作者：</label><input type="text" name="author" value="{{ book.author }}"/>
            <label>出版社：</label><input type="text" name="publisher" value="{{ book.publisher }}"/>
            <label>ISBN：</label><input type="text" name="isbn" value="{{ book.isbn }}"/>
            <label>出版日期：</label><input type="text" name="date" value="{{ book.date }}"/>
            <p class="bold-text">册数：{{ book.number }}</p>

        <table class="table">
            <tr>
                <th>图书编号</th>
                <th>位置</th>
                <th>借阅状态</th>
                {% comment %} <th>经办人</th> {% endcomment %}
                <th>操作</th>
            </tr>
            {% for copy in copies %}
            <tr>
                <td>{{ copy.id }}</td>
                <td>{{ copy.get_position_display }}</td>
                <td>{{ copy.get_state_display }}</td>
                {% comment %} <td>{{ copy.operator_id }}</td> {% endcomment %}
                <td>
                    {% if copy.get_state_display == "未借出" %}
                        <button href="/borrow_book/?id={{ copy.id }}">借阅</button>
                    {% elif copy.get_state_display == "已借出" %}
                        <button href="/reserve_book/?id={{ copy.id }}">预约</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}