{% extends "librarian/with_nav.html" %}

{% block main_content %}
    <div class="main-section">
        {% if not borrow_list  %}
            <p class="bold-text">暂无借阅记录</p>
        {% else %}
            <table class="table">
                <tr>
                    <th>借阅人</th>
                    <th>ISBN</th>
                    <th>书册编号</th>
                    <th>借阅时间</th>
                    <th>应还时间</th>
                    <th>归还时间</th>
                    <th>是否审核</th>
                    <th>操作</th>
                </tr>
                <tr>
                    {% for record in borrow_list %}
                    <tr>
                        <td>{{ record.reader_id.username }}</td>
                        <td>{{ record.copy_id.isbn.isbn }}</td>
                        <td>{{ record.copy_id.copyNO }}</td>
                        {% if record.is_checked %}
                            <td>{{ record.start_time |date:"Y-m-d H:i:s" }}</td>
                            <td>{{ record.due_time |date:"Y-m-d H:i:s" }}</td>
                            <td>{{ record.return_time |date:"Y-m-d H:i:s" }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                        <td>{{ record.get_check_status }}</td>
                        <td>
                            {% if not record.is_checked %}
                                <form id="approve-borrow-form{{ record.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="borrow-id" value="{{ record.id }}">
                                    <a class="approve-borrow-btn" borrow-id="{{ record.id }}">同意</a>
                                </form>
                                <form id="refuse-borrow-form{{ record.id }}">
                                    {% csrf_token %}
                                    <input type="hidden" name="borrow-id" value="{{ record.id }}">
                                    <a class="refuse-borrow-btn" borrow-id="{{ record.id }}">拒绝</a>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tr>
            </table>
        {% endif %}
    </div>
{% endblock %}