{% extends "reader/with_nav.html" %}

{% block main_content %}
    <div class="main-section">
        <a class="return-arrow" href="{% url 'reader_book_list' %}">&lt;</a>

        <div class="book-info-container">
            <div class="book-info-title">{{ book.title }}</div>
            <div class="book-info-text">作者：{{ book.author }}</div>
            <div class="book-info-text">出版社：{{ book.publisher }}</div>
            <div class="book-info-text">ISBN：{{ book.isbn }}</div>
            <div class="book-info-text">出版日期：{{ book.date }}</div>
            <div class="book-info-text">册数：{{ book.number }}</div>
        </div>

        <table class="table">
            <tr>
                <th>书册编号</th>
                <th>位置</th>
                <th>借阅状态</th>
                <th>操作</th>
            </tr>
            {% for copy in copies %}
                <tr>
                    <td>{{ copy.copyNO }}</td>
                    <td>{{ copy.get_position_display }}</td>
                    <td>{{ copy.get_state_display }}</td>
                    <td>
                        {% if copy.get_state_display == "未借出" %}
                            <form id="borrow-form{{ copy.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="book-id" value="{{ book.id }}">
                                <input type="hidden" name="copy-id" value="{{ copy.id }}">
                                <a class="borrow-btn" copy-id="{{ copy.id }}">借阅</a>
                            </form>
                        {% elif copy.get_state_display == "已借出" %}
                            <a class="reserve-btn">预约</a>
                        {% else %}
                            不可借阅
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}