{% extends "reader/with_nav.html" %}

{% block main_content %}
    <div class="main-section">
        <a class="return-arrow" href="{% url 'reader_book_list' %}">&lt;</a>

        <div class="book-info-container">
            <div class="book-info-title">{{ book.title }}</div>
            <div class="book-info-text">作者：{{ book.author }}</div>
            <div class="book-info-text">出版社：{{ book.publisher }}</div>
            <div class="book-info-text">ISBN：{{ book.isbn }}</div>
            <div class="book-info-text">出版日期：{{ book.date }}</div>
            <div class="book-info-text">册数：{{ book.number }}</div>
        </div>

        <div class="table-container h-centered-section">
            <table>
                <tr>
                    <th>书册编号</th>
                    <th>位置</th>
                    <th>借阅状态</th>
                </tr>
                {% for copy in copies %}
                    <tr>
                        <td>{{ copy.copyNO }}</td>
                        <td>{{ copy.get_position_display }}</td>
                        <td>{{ copy.get_state_display }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="h-centered-section">
            {% if reserve %}
                <form id="reserve-form">
                    {% csrf_token %}
                    <input type="hidden" name="book-id" value="{{ book.id }}">
                    <button id="reserve-btn" class="button-default">预约</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}