{% extends "reader/with_nav.html" %}

{% block main_content %}
    <div class="main-section">
        <p>当前借阅记录（共 {{ active_records|length }} 条）</p>
        {% if active_records %}
            <div class="table-container">
                <table>
                    <tr>
                        <th>书名</th>
                        <th>ISBN</th>
                        <th>书册编号</th>
                        <th>借阅时间</th>
                        <th>应还时间</th>
                        <th>操作</th>
                    </tr>
                    {% for record in active_records %}
                        <tr>
                            <td>{{ record.copy_id.isbn.title }}</td>
                            <td>{{ record.copy_id.isbn.isbn }}</td>
                            <td>{{ record.copy_id.copyNO }}</td>
                            <td>{{ record.start_time | date:"Y-m-d H:i:s"}}</td>
                            <td>{{ record.due_time | date:"Y-m-d H:i:s"}}</td>
                            <td>
                                <a>续借</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if history_records %}
            <p>历史借阅记录</p>
            <div class="table-container">
                <table>
                    <tr>
                        <th>书名</th>
                        <th>ISBN</th>
                        <th>书册编号</th>
                        <th>借阅时间</th>
                        <th>应还时间</th>
                        <th>归还时间</th>
                        <th>罚金</th>
                    </tr>
                    {% for record in history_records %}
                        <tr>
                            <td>{{ record.copy_id.isbn.title }}</td>
                            <td>{{ record.copy_id.isbn.isbn }}</td>
                            <td>{{ record.copy_id.copyNO }}</td>
                            <td>{{ record.start_time | date:"Y-m-d H:i:s"}}</td>
                            <td>{{ record.due_time | date:"Y-m-d H:i:s"}}</td>
                            <td>{{ record.return_time | date:"Y-m-d H:i:s"}}</td>
                            <td>{{ record.fine }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        {% if not active_records and not history_records %}
            <p>暂无借阅记录</p>
        {% endif %}
{% endblock %}