<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script>
  function getCookie(name) {
    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
    if (arr = document.cookie.match(reg)) return unescape(arr[2]);
    else return null;
  }
</script>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="#">图书管理系统</a>
      </div>

      <script>
        var username = getCookie('user_id');
        if (username != null) {
          document.writeln("<a class=\'navbar-brand\' href=\'#\'>欢迎你," + username + "!</a>");
        }
      </script>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">功能列表<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/book_put_in/">书目入库</a></li>
            <li><a class="dropdown-item" href="/book_process/">审理借书手续</a></li>
            <li><a class="dropdown-item" href="/book_list/">书目列表</a></li>
            <li><a class="dropdown-item" href="/librarian_page/">返回菜单</a></li>
            <li><a class="dropdown-item" href="/login/">退出登录</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- 选项卡 -->
  <div class="container mt-3">
    <h2>Book list</h2>
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>author</th>
          <th>publisher</th>
          <th>ISBN</th>
          <th>date</th>
          <th>number</th>
          <th>operator</th>
        </tr>
      </thead>
      <tbody>
        {% for book in book %}
        <tr>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.date }}</td>
          <td>{{ book.number }}</td>
          <td>{{ book.operator_id }}</td>
          <td>
            <a href="/book_edit/?id={{ book.id }}">编辑</a>
            <a href="/book_del/?id={{ book.id }}">删除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Book info list</h2>
    <table class="table">
      <thead>
        <tr>
          <th>book_id</th>
          <th>ISBN</th>
          <th>position</th>
          <th>state</th>
          <th>operator</th>
        </tr>
      </thead>
      <tbody>
        {% for info in book_info %}
        <tr>
          <td>{{ info.book_id }}</td>
          <td>{{ info.isbn_id }}</td>
          <td>{{ info.position }}</td>
          <td>{{ info.state }}</td>
          <td>{{ info.operator_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</body>

</html>