<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script>
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg)) return unescape(arr[2]);
        else return null;
    }
</script>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">图书管理系统</a>
            </div>

            <script>
                var username = getCookie('user_id');
                if (username != null) {
                    document.writeln("<a class=\'navbar-brand\' href=\'#\'>欢迎你," + username + "!</a>");
                }
            </script>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">功能列表<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/book_put_in/">书目入库</a></li>
                        <li><a class="dropdown-item" href="/book_process/">审理借书手续</a></li>
                        <li><a class="dropdown-item" href="/book_list/">书目列表</a></li>
                        <li><a class="dropdown-item" href="/login/">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">功能列表</a>
                    <a href="/book_put_in/" class="list-group-item">书目入库</a>
                    <a href="/book_process/" class="list-group-item">审核借书手续</a>
                    <a href="/book_list/" class="list-group-item">书目列表</a>
                    <a href="/login/" class="list-group-item">退出登录</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>